@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;

}


/*font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/* stylowanie header */
body {
	font-family: 'Raleway', sans-serif;
}


header {
	height: 70px;
	background: #fff;
	box-shadow: 0px 3px 6px #00000029;
}

div.conteiner {
	width: 1352px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0 auto;
}
.logo {
	font-size: 32px;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
}
.page-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 11px;
	letter-spacing: 3.28px;
	
	
}

.page-nav ul, li{
    margin-left:95px;
    display: inline-block;
	height: 70px;
	line-height: 70px;
	
}
.page-nav a{
    text-transform: uppercase;
	text-decoration: none;
	color: #A5A5A5;
}
.page-nav a:hover {
    color: #213131;
    border-bottom: 3px solid #08A6E4;
    padding-bottom: 21px;
	font-weight: bold;
}

.page-nav a:active {
    color: #213131;
    border-bottom: 3px solid #08A6E4;
    padding: 15px;
}

/* stylowanie sekcji baner */

section.baner {
	margin: 150px 0;
	background: url("../images/Background.png") no-repeat bottom/contain;
	height: 560px;
	text-align: center;
}

section h1{
	font-size: 49px;
}

.button {

	padding: 22px 151px 22px 151px;
	background: #08A6E4;
	box-shadow: 5px 10px 14px #07ACE629;
	border-radius: 40px;
	color: #fff;
	border-style: none;
	margin-top: 38px;
}
.button:hover {
background-color: #02488A;
}
