@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

/*font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/
/* stylowanie header */

body {
	font-family: 'Raleway', sans-serif;
}
header {
	padding: 0 10px 0 10px;
	height: 70px;
	background: #fff;
	box-shadow: 0px 3px 6px #00000029;
	width: 100%;
	position: fixed;
    top: 0px;
	z-index: 999;
	
}
div.conteiner {
	max-width: 1352px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.conteiner-content {
	max-width: 1352px;
	margin: 0 auto;
	
}

.logo {
	
	font-size: 32px;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	color: #08A6E4;
	margin-top: 15px;
}
.page-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 11px;
	letter-spacing: 3.28px;
}
.page-nav ul li{
    margin-left:95px;
    display: inline-block;
	height: 70px;
	line-height: 70px;
}
.page-nav a{
    text-transform: uppercase;
	text-decoration: none;
	color: #A5A5A5;
}
.page-nav a:hover {
    color: #213131;
    border-bottom: 3px solid #08A6E4;
    padding-bottom: 27px;
	font-weight: bold;
}

.page-nav a:active {
    color: #213131;
    border-bottom: 3px solid #08A6E4;
    padding: 15px;
}
/* stylowanie sekcji baner */

section.baner {
	margin: 150px 0;
	background: url("../images/Background.png") no-repeat bottom/contain;
	height: 560px;
	text-align: center;
}

section h1{
	font-size: 49px;
}

.button {
	padding: 22px 151px 22px 151px;
	background: #08A6E4;
	box-shadow: 5px 10px 14px #07ACE629;
	border-radius: 40px;
	color: #fff;
	border-style: none;
	margin-top: 38px;
}
.button:hover {
background-color: #02488A;
}

/* section info-icons */ 

section.info-icons {
	 display: flex;
	
}

h2 {
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
} 
.box-info {
	flex-direction: column;
	flex-grow: 1;
	text-align: center;
}

.box-info span {
	display: block;
    letter-spacing: 4px;
	font-size: 20px;
	line-height:  24px;
	font-weight: bolder;
}
.box-info p {
	color: #A5A5A5;
	font-size: 17px;
	line-height: 20px;
	margin: 19px;
}
.box-info img{
	margin-bottom: 17px;	
}

/* section article */


article.one-article {

	background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
	line-height: 22px;
	margin: 30px auto;
	display: flex;
    align-items: center;
	padding: 35px;
		
}
hr {
	border: 2px solid ;
	width: 328px;
	margin-top: 50px;
}
hr.blue {
	border-color: #08A6E4;
}

hr.red {
	border-color: #FB3B64;	
}
hr.green {
	border-color: #55DFB4;	
}

.article-columns {
	display: flex;
	
}
.box-text-2 {
	width: 70%;
	background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
	margin-right: 20px;
	border-radius: 5px;
	justify-content: center;
	padding: 35px;
}
.box-photo-ico {
	width: 30%;
	background: #55DFB4;
	border-radius: 5px;
}

.ico-tuba {
	background: url("../images/Trumpet.png") no-repeat center/contain;
	width: spx;
	height: 350px;
}

h3 {
	font-size: 36px;
	margin-bottom: 29px;
	width: 330px;
	line-height: 42px;
}

/* section price list */


section.price-list {
	
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.price-box {
	padding: 30px 80px;
	background: #FFFFFF;
    border: 1px solid #FB3B64;
    border-radius: 18px; 
	width: 372px;
    height: 461px;
	text-align: center;
	position: relative;
	margin: 0 10px 0 10px;
}

div.price-box:nth-child(2) {
    border: 1px solid #07ACE6;
	box-shadow: 5px 10px 27px #07ACE629;
	width: 405px;
	height: 500px;
 
	margin-top: -10px;
}
div.price-box:nth-child(3) {
    border:1px solid #55DFB4;
}
button.btn-price {
	background: #EB476E;
	border-radius: 23px;
	padding: 10px 57px 10px 57px;
	border: none;
	color: #fff;
	font: Bold 13px Open Sans;
	position: absolute;
	top: 435px;
    left: 109px;
}
div.price-box:nth-of-type(2) .btn-price{
	background: #07ACE6;
	top: 479px;
    left: 124px;
}
div.price-box:nth-of-type(3) .btn-price{
	background: #55DFB4;
}
h4 {
    text-align: center;
    color: #13253B;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
div.price-box h5 {
	text-align: center;
	font-size: 46px;
	margin: 14px;
	color: #FB3B64;
}

div.price-box:nth-of-type(2) h5 {
	color: #07ACE6;
}
div.price-box:nth-of-type(3) h5 {
	color: #55DFB4;
}

.price-box p {
	font-size: 12px;
	font-weight: bold;
}

section.price-box ul li {
	font-size: 14px;
	line-height: 20px;
	font-family: Open Sans;
	display: flex;
	padding: 25px;
}

.price-box ul li{
	margin: 25px;
}

.price-list ul li{
	list-style-image: url("../images/Ckechmark-1.svg"); 
}

.price-list ul li:last-of-type {
	list-style-image: url("../images/Close.svg"); 
}


/* stylowanie kontakt */

section.contact {
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
	align-content: center;

}
section.contact h2 {
    text-align: left;
    margin-bottom: 22px;
}

.contact img {
	margin-right: 10px;
}
.info-contakt {
	margin-top: 42px;
	color: #A5A5A5;
	font-family: 'Open Sans', sans-serif;
}
form {
    font-size: 12px;
    width: 440px; 
    font-family: 'Open Sans', sans-serif;
	color: #707070;
	line-height: 17px;
}

input[type="submit"] {
    background: #08A6E4;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
	width: 226px;
	margin-top: 20px;
	color: #fff;
	display: block;
	float: right;
	font-weight: bold;
}

input[type="submit"]:hover{
    background: #02488A;
}
label {
    display: grid;
    color: #08A6E4;
    font-size: 11px;
    letter-spacing: 3.28px;
	text-transform: uppercase;
	line-height: 15px;
	margin-top: 40px;
	font-weight: bold;
}
input {
    border: none;
	border-bottom: 2px solid #95989A;
	height: 42px;
}

input[type="checkbox"] {
    width: 100px;
    margin-right: 15px;
}
form .checkbox {
	margin: 25px 0 25px 0;
}


/* footer styling */

footer {

	padding: 24px;
	background: #F7F7F7;
	height: 89px;
	font-family: Open Sans;
	font-size: 11px;
	line-height: 15px;
}
footer .logo{
	font-size: 26px;
	line-height: 31px;
}


@media (max-width: 960px) {
	

	
	section.baner {
	  margin-top: 250px;
	}
	.box-text {
	  display: flex;
		flex-direction: column;
	}
	
	.page-nav {
	    visibility: hidden;
	}
	
	hr {
	    visibility: hidden;
	}
	.article-columns {
		flex-direction: column;
		
	}
	.box-text-2 {
		width: 100%;
	}
	.box-photo-ico {
		width: 100%;
	}
	
	section.info-icons {
    flex-direction: column;
    }
	
	sections.article-content,
	article.one-article {
		flex-direction: column;
	}
	
	sections.article-content,
	article.one-article:first-child {
		flex-direction: column-reverse;

	}
	
	button.btn-price {
    left: 94px;
}
	
	.price-list {
		flex-direction: column;
		
		
	}
	section.contact {
		flex-direction: column;
		align-items: center;
		
	}
	
	img[alt="laptop"] {
		margin-bottom: 50px;
		
		
	}
	
	div.price-box {
	
	width: 350px;
	margin-bottom: 40px;

}
	div.price-box:nth-child(2) {
	width: 405px;
	

}
	
	button.btn-price:hover {
 
	
	}

}
